@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ADD MORE CLASSES HERE IF NECESSARY */

.bg-light-green {
  background-color: #effde4;
}

.bg-green {
  background-color: #023d1c;
}

.text-light-green {
  color: #effde4;
}

.text-green {
  color: #023d1c;
}

.custom-scrollbar {
  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* For WebKit browsers (Chrome, Safari, and Opera) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Hide vertical scrollbar */
  height: 0; /* Hide horizontal scrollbar */
}

/* Optional: Hide scrollbars for specific elements */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbars */
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: 100dvh; /* Use 100dvh directly if the browser supports it */
  }

  /* Ensure smooth scrolling within containers */
  .overflow-y-scroll {
    -webkit-overflow-scrolling: touch;
  }

  .h-screen {
    height: -webkit-fill-available;
  }
}
